@{
    ViewData["Title"] = "mvclib_demo";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Mvc demo: have controllers and views in class libraries and then using them in a mvc project.</p>
<p>Berra and Gurra in the menu above are located in their own class libraries.</p>
<p>The configuration is done in mainmvc\Startup.cs</p>
